@use "globals" as g;

header {
  padding: 2rem;
  padding-top: 5rem;
  border-bottom: 1px solid g.$dark-gray-line;

  h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1px;
    color: g.$desaturated-blue;

    span {
      font-weight: 400;
      color: g.$dark-gray;
    }
  }
  p {
    font-size: 14px;
    font-weight: 400;
    color: g.$dark-gray;
  }
}
